.bg-container {
    background-color: #f7f5f5;
    height: 100vh;
}

.counter {
    font-family: "Roboto";
    font-weight: bold;
}

.value {
    font-size: 70px;
    font-weight: bold;
}

.button {
    border-radius: 5px;
    border-width: 3px;
    margin: 5px;

}